.back-video {
  position: absolute;
  z-index: -1;
  right: 0%;
  bottom: 0%;
}
.card {
  background-color: rgba(3, 14, 117, 0.3);
  margin-top: 50px;
  box-shadow: 2px 2px 2px 1px rgba(1, 1, 54, 0.2);
  border: 0ch;
  border-radius: 5px;
}
.col-sm-7,
.col-sm-5 {
  padding-top: 10px;
}
h1,
h3,
ul,
.col-6 {
  font-family: "Berkshire Swash", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Kreon", serif;
}
h1,
h3 {
  margin-left: 20px;
  color: rgb(243, 184, 75);
}
.city {
  color: rgba(14, 6, 129, 0.747);
}
h1,
#fahrenheit-temp,
#celcius-temp,
.separator {
  font-size: 33px;
  text-decoration: none;
}
h3 {
  font-size: 27px;
}

ul {
  list-style: none;
  color: whitesmoke;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 100;
  text-transform: capitalize;
  margin-top: 27%;
  margin-left: 20%;
}

.grades,
.separator {
  color: whitesmoke;
}

.col-6 {
  color: rgb(243, 184, 75);
  font-size: 23px;
  font-weight: 100;
  text-align: center;
}
.p-3 border {
  border-radius: 10px;
}
#icon {
  margin-left: 20%;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  font-weight: 300;
  margin-left: 10px;
}
.signature {
  font-size: 15px;
  text-align: center;
  font-weight: 300px;
}
